form{
    text-align: center;
    border: 2px solid black;
    height: 250px;
    width: 300px;
    margin-left: 500px;
    margin-right: 300px ;
    background-color: rgb(149, 158, 153);
}

    
    
    .in{
        border: 2px solid black;
        margin:10px 10px 10px 15px;
        height: 30px;
        width: 250px;
        text-align: center;

    }
    .in1{
        border: 2px solid black;
        margin:10px 10px 10px 10px;
        height: 40px;
        width: 150px;
        border-radius: 7px;
        /* background-color:green; */
        
       

    }