<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="2wheeler.css"> -->
</head>
<body>
    <form #towWheelerForm >
        
        <!-- <input class="in" type="number" name="Bmodel" placeholder="Bike Model" ><br> -->
        <h5>Select Plan for Two Wheeler</h5>
        <select required #bike="ngModel" class="bike" name="" id="" ngModel> 
         <option value=""></option>
            <option value="">KTM</option>
            <option value="">Pulsor</option>
            <option value="">FZ</option>
        </select>
     <br>
     <br>
     <input  type="number" name="year" placeholder="Enter Your bike Year"><br>
     <br>
     
     <input  type="number" name="age" placeholder="Age"  ngModel><br>
     <br>
     <button class="btn btn-primary" type="submit" value="Calculate Premium">Calculate Premium</button>
    </form>
    
</body>
</html>
