<div class="cont">
    <h4>Welcome Home</h4>
    
    <div class="cont1">

        <div>
            <td>Your Policy Number</td>
            <tr>#number</tr>
        </div>
        <br>
        <div>
            <td>Your Vehicle Model</td>
            <tr>#Vehicle Model</tr>
            
        </div>
        <br>
        <div>
            <td>Registration Number</td>
            <tr>#Registration Number</tr>
        </div>
        <br>
        <div>
            <td>Claim Amount</td>
            <tr>3,00,000</tr>
        </div>
        <br>
        <br>
            <tr><button routerLink="/claim" class="btn btn-primary">Claim Amount</button></tr> <br>
            <tr><button routerLink="/update" class="btn btn-primary">Renew Insurance</button></tr>
    </div>
</div>

