    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="4wheeler.css"> -->

    <form  >
        
        <input class="in" type="number" placeholder="Car Model"><br>
        <input class="in" type="number" placeholder="Age"><br>
        

        <input style="color: white;" class="in1" type="submit" value="Calculate Premium">
    </form>
    

