<section class="team">
    <div class="container">
          <h1>Our Team</h1>
          
     <div class="card">
         <div class="box">
             <img src="../../assets/avatar.png" alt="team img" />
             <h4>Guduri Jyothirmayee</h4>
             <h5>Lead</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <img src="../../assets/avatar.png" alt="team img" />
             <h4>Anshul Dashore</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <img src="../../assets/avatar.png" alt="team img" />
             <h4>Krunal Hiwse</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <img src="../../assets/avatar.png" alt="team img" />
             <h4>Khushaboo Vikas Narkhede</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
        <div class="box">
            <img src="../../assets/avatar.png" alt="team img" />
            <h4>Thota Someshwar Reddy</h4>
            <h5>Member</h5>
        </div>
    </div>
          
         
    </div>
</section>